LETSENCRYPT_EMAIL=email@example.com
ERPNEXT_VERSION=latest
FRAPPE_VERSION=latest
MARIADB_HOST=mariadb
MYSQL_ROOT_PASSWORD=admin
SITE_NAME=mysite.localhost
SITES=`mysite.localhost`
DB_ROOT_USER=root
ADMIN_PASSWORD=admin
INSTALL_APPS=erpnext,posawesome,frappe_s3_attachment,metabase_integration,bookings,bench_manager
ENTRYPOINT_LABEL=traefik.http.routers.excel-erpnext-nginx.entrypoints=web
