boto3==1.4.8
chardet==3.0.4
cssmin==0.2.0
dropbox==7.3.1
gunicorn==19.7.1
httplib2==0.10.3
jinja2==2.10
markdown2==2.3.5
markupsafe==1.0
PyMySQL==0.8.0
python-geoip==1.2
python-geoip-geolite2==2015.303
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
termcolor==1.1.0
werkzeug==0.12.2
semantic_version==2.6.0
rauth==0.6.2
requests==2.18.4
redis==2.10.6
selenium==3.8.0
pdfkit==0.6.1
babel==2.5.3
ipython==5.5.0
html2text==2016.9.19
email_reply_parser==0.5.12
click==6.7
num2words==0.5.5
watchdog==0.8.0
bleach==2.0.0
bleach-whitelist==0.0.9
Pillow==4.3.0
beautifulsoup4==4.6.0
rq==0.8.1
schedule==0.5.0
cryptography==2.1.4
pyopenssl==17.5.0
ndg-httpsclient==0.4.4
pyasn1==0.3.7
zxcvbn-python==4.4.20
unittest-xml-reporting==2.2.0
oauthlib==2.0.6
PyJWT==1.5.3
PyPDF2==1.26.0
openpyxl==2.4.9
pyotp==2.2.6
pyqrcode==1.2.1
pypng==0.0.18
premailer==3.0.0
croniter==0.3.20
googlemaps==2.5.0
